
site_name: MedicalVault Wiki v2.2
site_url: http://localhost:8001
repo_url: https://github.com/vudovn/medicalvault
repo_name: vudovn/medicalvault
edit_uri: blob/main/docs/

theme:
  name: material
  language: vi
  features:
    - navigation.indexes
    - navigation.expand
    - search.suggest
    - search.highlight
    - content.code.copy
  palette:
    - scheme: default
      primary: teal
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: teal
      accent: lime
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search:
      lang: vi
  - tags:
      tags_file: tags.md

